<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Weather App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}" />
    <script th:src="@{/bootstrap.min.js}"></script>
</head>

<body class="container-fluid">
    <div class="d-flex justify-content-center p-5">
        <div class="card border-secondary mb-3 text-center" style="max-width: 18rem;">
            <div class="card-header">Current Temperature</div>
            <div class="card-body text-secondary">
                <h5 th:text="${city}" class="card-title" />
                <p th:text="${temperature} + '°'" class="card-text" />
                <img th:src="${icon}" alt="weather_icon" />
                <p th:text="${weatherText}" class="card-body" />
                <div th:switch="${airQuality}">
                    <p th:case="1" th:style="'color: #40bf32'" th:text="${airQualityText}" />
                    <p th:case="2" th:style="'color: #8ebf32'" th:text="${airQualityText}" />
                    <p th:case="3" th:style="'color: #9ebf32'" th:text="${airQualityText}" />
                    <p th:case="4" th:style="'color: #bfba32'" th:text="${airQualityText}" />
                    <p th:case="5" th:style="'color: #bf8732'" th:text="${airQualityText}" />
                    <p th:case="6" th:style="'color: #bf4c32'" th:text="${airQualityText}" />
                </div>
            </div>
        </div>
    </div>
</body>

</html>