<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" class="h-100" lang="en">

<head>
    <title>Weather App</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/bootstrap.min.css}" />
    <script th:src="@{/bootstrap.min.js}"></script>
</head>

<body class="container h-100 d-flex align-items-center justify-content-center">
    <div class="d-flex justify-content-center align-items-center p-5 flex-column">
        <div class="card border-secondary mb-3 text-center" style="max-width: 18rem;">
            <div class="card-header">Current Temperature</div>
            <div class="card-body text-secondary">
                <h5 th:text="${city}" class="card-title" />
                <p th:text="${temperature} + '°'" class="card-text" />
                <img th:src="${icon}" alt="weather_icon" />
                <p th:text="${weatherText}" class="card-body" />
                <p th:style="'color: '+${airQualityColor}" th:text="${airQualityText}" />
            </div>
        </div>
        <a th:href="@{/}" class="btn btn-success" style="max-width: 18rem;">New Search</a>
    </div>
</body>

</html>